# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [2]:
import os
import pandas as pd
import numpy as np

# Set data directory
dir_data = 'D:\Document\AI\Marathon100D\Assignment\Day_018\data'

# Set the full data file name
f_app_train = os.path.join(dir_data, 'titanic_train.csv')
f_app_test = os.path.join(dir_data, 'titanic_test.csv')

# Read compressed CSV into data frame
df_train = pd.read_csv(f_app_train)
df_test = pd.read_csv(f_app_test)
print(df_train.shape)

(891, 12)

In [3]:
# 重組資料成為訓練 / 預測用格式
# Extract target data from training data frame
train_Y = df_train['Survived']

# Extract primary key from testing data frame
ids = df_test['PassengerId']

# Drop primary key and target data column from training data
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)

# Drop primary key from testing data
df_test = df_test.drop(['PassengerId'] , axis=1)

# Concat ( append ) training and test data frame
df = pd.concat([df_train,df_test])

# Show top few rows
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# 秀出資料欄位的類型與數量

# List all columns with their corresponding data type and use column name to create a new index column
dtype_df = df.dtypes.reset_index()

# Set column names to "Count" and "Column Type"
dtype_df.columns = ["Count", "Column Type"]

# Group by column "Column Type" and count the data each each group, then use the Column Type output as index
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()

# Show data
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [5]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
# Initialize an array for columns of integer data type
int_features = []

# Initialize an array for columns of float data type
float_features = []

# Initialize an array for columns of string data type
object_features = []

# Loop through data types of all columns
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        # Append column names with float data type as new element to the array
        float_features.append(feature)
    elif dtype == 'int64':
         # Append column names with integer data type as new element to the array
        int_features.append(feature)
    else:
         # Append column names with string data type as new element to the array
        object_features.append(feature)
        
# Show total numbers of element in the array wand list all elements
print(f'{len(int_features)}\nInteger Features : {int_features}\n')
print(f'{len(float_features)}\nFloat Features : {float_features}\n')
print(f'{len(object_features)}\nObject Features : {object_features}')

3
Integer Features : ['Pclass', 'SibSp', 'Parch']

2
Float Features : ['Age', 'Fare']

5
Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?  

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [8]:
# 例 : 整數 (int) 特徵取平均 (mean)
df[int_features].mean()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

In [9]:
# 請依序列出 三種特徵類型 (int / float / object) x 三種方法 (平均 mean / 最大值 Max / 相異值 nunique) 的其餘操作
"""
Your Code Here
"""
df[int_features].max()

Pclass    3
SibSp     8
Parch     9
dtype: int64

In [10]:
# Count the distinct value in each column
df[int_features].nunique()

Pclass    3
SibSp     7
Parch     8
dtype: int64

In [11]:
df[float_features].mean()

Age     29.881138
Fare    33.295479
dtype: float64

In [12]:
df[float_features].max()

Age      80.0000
Fare    512.3292
dtype: float64

In [13]:
# Count the distinct value in each column
df[float_features].nunique()

Age      98
Fare    281
dtype: int64

In [14]:
df[object_features].mean()
# You cannot get the mean of strings, it need to be converted to a numeric value that also represent their original meaning,
# Handling calculation of string values are usually complex.

Series([], dtype: float64)

In [16]:
df[object_features].max()

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [18]:
# Count the distinct value in each column
df[object_features].nunique()

Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64