## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [6]:
import os
import numpy as np
import pandas as pd

In [5]:
# Set directory where the data files are saved
dir_data = 'D:\Document\AI\Marathon100D\Assignment\Day_002\data'

In [4]:
# Bind the full file name with directory
f_app = os.path.join(dir_data, 'application_train.csv')

print('Path of data to be read: %s' % (f_app))

# Read CSV into Pandas data frame ( df is my abbreviation for data frame )
df_app_train = pd.read_csv(f_app)

Path of data to be read: D:\Document\AI\Marathon100D\Assignment\Day_002\data\application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [13]:
# Assign result of data frame row count 
rowCount = df_app_train.shape[0]  # len(df_app_train)
print('Row count of file is %s' % (rowCount))

# Assign result of data frame column count 
colCount = df_app_train.shape[1]  # len(df_app_train.columns)
print('Column count of file is %s' % (colCount))

Row count of file is 307511
Column count of file is 122

#### 列出所有欄位

In [18]:
print ('Listing all column names of data frame')
list(df_app_train)    # df_app_train.columns

Listing all column names of data frame

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

#### 截取部分資料

In [26]:
# Show first 5 rows of data frame
df_app_train.head()

# Show last 5 rows of data frame
df_app_train.tail()

# Show 10 random samples of data frame
df_app_train.sample(n=10, random_state=1)

# Show 0.1 percent random samples of data frame
df_app_train.sample(frac=0.001, random_state=1)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
64282,174545,1,Cash loans,F,N,Y,0,135000.0,654498.0,31617.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
94645,209898,0,Cash loans,M,Y,Y,0,135000.0,234576.0,25393.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
306349,454938,0,Cash loans,M,Y,Y,0,112500.0,157914.0,16753.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
258314,398930,0,Cash loans,M,Y,N,0,247500.0,1125000.0,36292.5,...,0,0,0,0,0.0,0.0,0.0,9.0,0.0,1.0
87597,201672,0,Cash loans,M,N,Y,0,202500.0,900000.0,35158.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
27731,132243,0,Revolving loans,F,N,Y,0,121500.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
284391,429350,1,Cash loans,F,N,N,0,90000.0,808650.0,26086.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
267734,410203,0,Cash loans,F,N,N,2,54000.0,450000.0,21888.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
238789,376596,0,Cash loans,F,N,N,1,180000.0,1125000.0,47664.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
299374,446827,0,Cash loans,M,Y,N,0,121500.0,343377.0,13072.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
188398,318422,0,Cash loans,F,N,Y,0,157500.0,403249.5,19741.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
252746,392459,0,Cash loans,F,Y,Y,0,54000.0,408780.0,14809.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
249037,388112,1,Cash loans,M,N,N,1,135000.0,473760.0,53581.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
294226,440863,0,Cash loans,M,Y,Y,2,135000.0,358443.0,13639.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
91317,206050,0,Cash loans,M,Y,N,0,99000.0,545040.0,25537.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
219832,354672,0,Cash loans,F,Y,Y,1,180000.0,1432647.0,42021.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
70781,182098,0,Revolving loans,F,N,Y,0,135000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1710,101999,0,Cash loans,F,N,Y,0,76500.0,284400.0,19003.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
195776,327012,0,Cash loans,M,Y,N,1,225000.0,450000.0,25834.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
143511,266409,0,Cash loans,F,N,N,2,103500.0,251091.0,26496.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
58721,168070,0,Cash loans,F,N,Y,0,112500.0,760225.5,30280.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
101544,217897,0,Cash loans,F,N,N,0,225000.0,152820.0,14886.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
162174,288017,0,Revolving loans,M,Y,Y,2,270000.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
136550,258382,0,Cash loans,F,N,N,0,157500.0,474048.0,22095.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
58099,167350,0,Cash loans,F,N,N,0,112500.0,225000.0,12564.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
140282,262671,0,Cash loans,F,N,N,0,157500.0,452385.0,22131.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
297174,444293,0,Cash loans,M,Y,Y,0,225000.0,848745.0,40963.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
80856,193746,0,Cash loans,F,Y,Y,0,292500.0,247500.0,12784.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
11705,113644,0,Cash loans,M,N,Y,2,225000.0,1002870.0,42619.5,...,0,0,0,0,0.0,0.0,0.0,3.0,1.0,1.0
261406,402569,0,Cash loans,F,Y,Y,3,135000.0,397017.0,19228.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,100793,0,Cash loans,F,N,Y,0,126000.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
185222,314703,0,Revolving loans,F,N,Y,0,103500.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
132127,253240,1,Cash loans,F,N,Y,0,112500.0,254700.0,24939.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
201873,334004,0,Cash loans,F,N,Y,0,112500.0,426600.0,12469.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
177372,305550,0,Cash loans,F,N,Y,0,157500.0,135000.0,14670.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4126,104823,0,Cash loans,F,N,Y,0,112500.0,538704.0,26046.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
248414,387418,1,Cash loans,M,Y,Y,0,180000.0,781920.0,32998.5,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,0.0
46482,153845,0,Cash loans,F,N,N,0,90000.0,45000.0,4450.5,...,0,0,0,0,0.0,0.0,0.0,6.0,0.0,0.0
176449,304463,0,Cash loans,F,N,Y,0,202500.0,413235.0,26536.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
203899,336388,0,Cash loans,M,N,N,0,292500.0,1467612.0,62311.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307413,456146,0,Cash loans,F,N,Y,0,99000.0,269550.0,14242.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12314,114358,0,Cash loans,M,N,N,0,247500.0,474048.0,17568.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
87711,201811,0,Cash loans,M,Y,Y,1,234000.0,1125000.0,46557.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
259372,400170,0,Cash loans,F,N,Y,2,90000.0,1293502.5,37948.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
8091,109436,1,Cash loans,F,N,N,0,103500.0,381528.0,30271.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
207396,340380,0,Cash loans,F,Y,Y,0,130050.0,521280.0,22216.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
29028,133727,0,Cash loans,F,N,N,0,202500.0,358443.0,13639.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
298213,445486,0,Cash loans,F,N,Y,0,81000.0,348264.0,25366.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
296426,443429,1,Cash loans,M,Y,N,1,121500.0,318528.0,25294.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.0,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
43107,149899,0,Cash loans,F,N,Y,0,90000.0,573628.5,22747.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
270883,414024,0,Cash loans,F,N,Y,1,90000.0,562491.0,23962.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
248992,388065,0,Cash loans,M,N,N,1,157500.0,562491.0,27189.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
213803,347743,0,Cash loans,F,N,N,0,135000.0,436032.0,22279.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4601,105382,0,Revolving loans,M,Y,Y,0,112500.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
120224,239408,0,Cash loans,F,N,N,0,157500.0,270000.0,12024.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
208164,341271,1,Cash loans,M,N,Y,2,81000.0,479637.0,23328.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
42132,148776,0,Cash loans,F,N,Y,0,135000.0,225000.0,15790.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
96549,212086,0,Cash loans,F,N,N,0,144000.0,755190.0,31995.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
132018,253115,0,Cash loans,F,N,Y,0,81000.0,112500.0,5539.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子